body {
margin: 10%;
padding: ;
}
h1 {
  text-align: center;
  font-size: 5vw;
}
div {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
  background: #ececee;
  width: 100%;
  padding: 2%;
  /* box-shadow: 0 0 0 0 #4CAF50; */
}
.my-own-input-css {
  font-size: 5vw;
  text-align: center;
  /* font-size: 2em; */
  padding: 2rem 6vw;
}
.my-own-botton-css {
  background: #4CAF50;
  border: none;
  color: white;
  font-size: 5vw;
  /* font-size: 2em; */
  padding: 2rem 6rem;
  text-align: center;
  text-decoration: none;
}
.my-own-botton-css:hover {
  background: #008CBA;
}
.my-own-botton-css:active {
  background: #00000000;
}
.plus{
  /* padding: 30% 0; */
  font-size: 2em;
  font-weight: 600;
}
.ans{
  border: coral 4px solid;
  background: rgb(247, 220, 201);
}
